/* MaintenanceReportCard.css */

.maintenance-report-card {
    background-color: #edb4b4;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    width: 400px;
    text-align: center;
    font-family: Montserrat;

  }
  
  .maintenance-request {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .maintenance-request h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .maintenance-request p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  