
.hours-worked{
    margin-left: 300px;
    margin-top: 40px;

}
.dash-attraction-card{
    margin-left: 300px;
    margin-top: 20px;
}
.active-mr-card{
    margin-left: 300px;
    margin-top: 20px;

}

.mr-report-card{
    margin-left: 850px;
    margin-top: -470px;
}
h1.h1dash{
    margin-left:270px;
    font-family: Montserrat;

    margin-top: 40px;
}
