h1.h1dash-manager{
    margin-left:270px;
    font-family: Montserrat;
    margin-top: 40px;
}

.tickets-total-live{
    margin-left: 560px;
    margin-top: 43px;

}
.rev-tickets-live{
    margin-left: 300px;
    margin-top: -99px;
}
.standard-ticket-live{
    margin-left: 820px;
    margin-top: -105px;
}
.express-ticket-live{
    margin-left: 980px;
    margin-top: -92px;
}
.child-ticket-live{
    margin-left: 1140px;
    margin-top: -90px;
}


.active-req-main{
    margin-left: 560px;
    margin-top: 25px;
}
.expense-main-card{
    margin-left: 300px;
    margin-top: -99px;

}
.input-weather{
    margin-left: 820px;
    max-width: 450px;
    margin-top: -245px;
    font-family: Montserrat;

    
}
.input-weather button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    width: 111px;
    margin-bottom: 1rem;

}
.input-weather button:hover{
    cursor: select;
    background-color:  #0056b3;

}