.tickets-total-live{
    margin-left: 560px;
    margin-top: 37px;

}
.rev-tickets-live{
    margin-left: 300px;
    margin-top: -114px;
}
.standard-ticket-live{
    margin-left: 820px;
    margin-top: -105px;
}
.express-ticket-live{
    margin-left: 980px;
    margin-top: -96px;
}
.child-ticket-live{
    margin-left: 1140px;
    margin-top: -96px;
}

.profit-live{
    margin-left: 430px;
    margin-top: 30px;
}
.input-weather{
    margin-left: 820px;
    max-width: 450px;
    margin-top: -265px;
}
h1.h1dash-manager{
    margin-left:270px;
    font-family: Montserrat;
    margin-top: 40px;
}
