.sue-button {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    padding: 10px 40px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    letter-spacing: 1px;

    span {
        font-family: 'Montserrat', sans-serif;
        text-wrap: nowrap;
    }

    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        background: #5164a2;
    }

    &:focus {
        outline: none;
    }
}