.Maintenance-header1 {
  margin-left: 270px;
  margin-top: 40px;
  font-family: Montserrat;
}

.report-sec-maintenace{
  margin-left: 285px;
  margin-right: 20px;
  margin-top: 60px;
  font-family: Montserrat;
}
.report-sec-maintenace button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-bottom: 1rem;
}


.report-sec-maintenace button:hover {
  background-color: #0056b3;
  cursor: select;
  
}




.report-sec-maintenace .input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.report-sec-maintenace .input-container label {
  flex-basis: 150px;
  font-weight: bold;
}
.report-sec-maintenace{
.input-container select,
.input-container input,
.input-container textarea {
  padding: 0.5rem;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid #000000;
    border-radius: 4px;
}
}

.report-sec-maintenace .input-container textarea {
  resize: vertical;
}



.report-sec-maintenace{
.submit-actions,
.edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}




.edit-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-row label {
  flex-basis: 200px;
  font-weight: bold;
}

.edit-row span {
  flex-grow: 1;
}
}