.employee-profile {
  height: auto;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: left;
  margin-right: 20px;
  font-family: Montserrat;
  color: #000000; 
}

.employee-profile h2 {
  margin-bottom: 30px;
  color: #000000;
}

.employee-profile .form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.employee-profile .form-group label {
  display: block;
  font-weight: bold;
  font-family: Montserrat;
  width: 150px;
  text-align: left;
  margin-right: 10px;
  color: #000000;
}

.employee-profile .form-group input {
  width: 300px;
  padding: 10px;
  font-family: Montserrat;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.employee-profile .form-group input:focus {
  border-color: #4caf50;
}

.employee-profile .edit-btn {
  font-family: Montserrat;
  display: inline-block;
  font-size: 16px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-profile .edit-btn:hover {
  background-color: #45a049;
}