.employee-profile {
  width: 1090px; 
  height: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.employee-profile h2 {
  margin-bottom: 30px;
  color: #333;
}

.employee-profile .form-group {
  margin-bottom: 20px;
  
  text-align: left;
}

.employee-profile .form-group label {
  display: block;
  font-weight: bold;
  font-family: Montserrat;

  margin-bottom: 5px;
  color: #555;
}

.employee-profile .form-group input {
  width: calc(100% - 30px);
  padding: 10px;
  font-family: Montserrat;

  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.employee-profile .form-group input:focus {
  border-color: #4caf50;
}

.employee-profile .edit-btn {
  font-family: Montserrat;
  margin-left: 920px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-profile .edit-btn:hover {
  background-color: #45a049;
}
