@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

.home-container {
    margin: 0;
    background-image: url('../../assets/disney_castle.jpg');
    height: 100%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 20px;
    font-family: Montserrat;

    .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 150px;
            font-family: "Oleo Script Swash Caps";
            margin-top: 10rem;
            line-height: 0.75;
            text-align: center;
            color: white;
            text-shadow: #1d1d1c 1px 0 10px;
        }

        span {
            font-size: 30px;
            color: white;
            text-shadow: #1d1d1c 1px 0 10px;
            letter-spacing: 3px;
        }

        .buy-tickets-button {
            padding: 15px 40px; 
            margin-bottom: 10px;
            margin-top: 20px;
            font-size: 18px; 
            font-weight: 650;
            text-decoration: none;
            color: var(--primary);
            background-color: var(--secondary); 
            border: none;
            border-radius: 20px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
            cursor: pointer;
            outline: none;
            transition: all 0.3s ease;
            letter-spacing: 1px;
            font-family: Montserrat;

            &:hover {
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
                filter: brightness(110%);
            }
        }

        .link {
            margin-top: 8px;
            font-size: 20px;
            font-family: sans-serif;
            position: relative;
            font-weight: 650;
            text-decoration: none;
            color: var(--primary);
            padding-bottom: 2px;
            overflow: hidden;
            transition: all 400ms;
            height: 30px;
        }

        .link:hover {
            font-size:23px;
        }
            
        .link:hover::after,
        .link:focus::after{
            transform: translate3d(0, 0, 0);
        }

        .link::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.15em;
            background-color: var(--secondary);
            opacity: 1;
            transform: translate3d(-100%, 0, 0);
            transition: opacity 300ms, transform 300ms;
        }
    }
}