@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home-container {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.883)), url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_650,q_75,w_1440/v1/clients/anaheimca/themegdalorian_Instagram_2690_ig_17951967979606270_5c828a56-442f-40c9-84b3-1c4a680e7cd7.jpg");
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 

    .home-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 40px;
            font-family: Montserrat;
            font-weight: 650;
            margin-top: 20rem;
            text-align: center;
            color: var(--primary);
            text-shadow: #63635a7c 1px 0 10px;
        }

        .link {
            font-size: 20px;
            font-family: sans-serif;
            position: relative;
            font-weight: 650;
            text-decoration: none;
            color: var(--primary);
            padding-bottom: 2px;
            overflow: hidden;
            transition: all 400ms;
            height: 30px;
        }

        .link::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.15em;
            background-color: var(--secondary);
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        .link::after {
            opacity: 1;
            transform: translate3d(-100%, 0, 0);
        }

        .link:hover {
            font-size:23px;
        }
            
        .link:hover::after,
        .link:focus::after{
            transform: translate3d(0, 0, 0);
        }

    }
}