.h1-dr-m {
    margin-left: 270px;
    margin-top: 40px;
    font-family: Montserrat;
  }
  .form-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-header h3 {
    margin: 0;
    font-family: Montserrat;

    margin-right: 0.5rem;
  }
  
  .form-header i {
    font-size: 1.2rem;
    color: #666;
  }
  .data-report {
    margin-left: 270px;
    margin-right: 20px;
    margin-top: 40px;
    font-family: Montserrat;
  }
  
  .report-section {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;

  }
  
  .generate-but-dr{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-left: auto; 
    margin-bottom: 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-bottom: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f8f9fa; 
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .form-row {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 1rem;
  }
  
  label {
    flex-basis: 150px;
    font-weight: bold;
  }
  
  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .checkbox-group {
    display: flex;
    gap: 0.5rem;
  }