.cart-dropdown-container {
    background-color: white;
    position: absolute;
    width: 300px;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.592);
    border-radius: 10px;

    .cart-dropdown-content {
        display: flex;
        flex-direction: column;
        padding: 15px;

        .cart-dropdown-items {
            display: flex;
            flex-direction: column;

            .cart-dropdown-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-block: 10px;
                border-bottom: 1px solid rgb(195, 195, 195);

                .remove-item {
                    color: var(--primary);
                    cursor: pointer;

                    &:hover {
                        filter: brightness(150%);
                    }
                }

                .item-details {
                    color: rgb(66, 66, 66);
                    font-weight: lighter;
                    font-size: small;
                }
            }
        }

        .button-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            .cart-checkout-button {
                height: 30px;
                width: 90%;
                margin-top: 10px;
                color: var(--primary);
                font-weight: bold;
                background-color: var(--secondary);
                border-radius: 15px;
                border: none;
                font-family: Montserrat;
                text-align: center;
                cursor: pointer;

                &:hover {
                    filter: brightness(97%);
                }
    
            }
        }
    }

    .cart-dropdown-content:after {
        content:' ';
        position: absolute; 
        top: 5px;
        right: 17px;
        margin-left: -15px;
        margin-top:-15px; 
        width: 0;
        z-index:1;
        height: 0;
        border-bottom: solid 15px #FFF; 
        border-left: solid 10px transparent; 
        border-right: solid 10px transparent; 
    }
}